body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}
.app-container {
  text-align: center;
  background-color: #fff;
}
.app-header h1 {
  font-size: 24px;
  color: #000;
}
.app-header p {
  font-size: 18px;
  color: #666;
}
.image-container img {
  width: 100%;
  display: block; /* Remove extra space below the image */
}
.buttons-container {
  margin: 20px 0;
}
.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.get-started {
  background-color: #007bff;
  color: #fff;
}
.log-in {
  background-color: #343a40;
  color: #fff;
}
.login-container {
  max-width: 400px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-form {
  display: flex;
  flex-direction: column;
}
input[type=email], input[type=password] {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.btn {
  background-color: #007bff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
}
.checkbox-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.checkbox-container input {
  margin-right: 10px;
}
.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.welcome-banner {
  background: #0000FF;
  color: white;
  padding: 20px;
  position: relative;
}
.dismiss-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
}
.go-to-profile-btn {
  background: #FFD700;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.section-title {
  margin-left: 20px;
}
.charity-card {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
.charity-card img {
  width: 100%;
  height: auto;
}
.progress-bar {
  height: 20px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}
.progress {
  width: 80%;
  background: #32CD32;
  height: 100%;
  border-radius: 10px;
}
.total-raised {
  display: flex;
  justify-content: space-between;
}
.amount-raised {
  font-weight: bold;
}
.target-amount {
  font-weight: bold;
  color: red;
}

/* Add responsive design */
@media (max-width: 900px) {
  .image-container img {
    content: url('images/vertical.png'); 
  }
  .buttons-container {
      flex-direction: column;
  }

  .btn {
      width: 90%;
      margin: 10px auto;
  }
}