body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}
.container {
  text-align: center;/* Centers the text */
  background-color: #f2f2f7;
  margin: auto;
}
.title {
   margin-top: 40px;
   margin-bottom: 0.1em; /* Reduces space below the title */
   font-size: 80px;
   color: #007bff;
  }
.tagline {
   margin-top: 0; /* Removes space above the tagline */
   font-size: 30px;
   color: #666;
  }
.image-container img {
  width: 100%;
  display: block; /* Remove extra space below the image */
}
.buttons-container {
  margin: 20px 0;
}
.btn.get-started {
  background-color: #007bff;
  color: #fff;
}
.btn.log-in {
  background-color: #007bff;
  color: #fff;
}
.login-container {
  max-width: 400px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
input[type=email], input[type=password] {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.btn {
  display: inline-block;
  padding: 20px 30px; /* Adjust button size */
  margin: 20px;
  background-color: #007bff;
  color: #fff; /* Text color */
  text-align: center;
  border-radius: 10px;
  text-decoration: none; /* Remove underline from links */
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.btn:hover, .btn:focus {
  background-color: #0056b3; /* Darker shade for hover state */
  color: #ffffff;
  text-decoration: none; /* Ensure no underline appears on hover */
}
.checkbox-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.checkbox-container input {
  margin-right: 10px;
}
.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}
.back-arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}
.profile-button,
.dismiss-button {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  color: #fff;
  background-color: #007bff;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;/* Rounded corners */
  cursor: pointer;
}
.dismiss-button {
  background-color: #f2f2f2;
  color: #000;
}
.trending-charities h2 {
  padding: 20px 20px;
  text-align: justify;
  margin: 0;
  background: #f2f2f2;
  font-size: 16px;
}

.charity {
  border-bottom: 1px solid #ccc;
}
.charity img {
  width: 100%;
  height: auto;
}
.charity-info {
  padding: 10px 20px;
}
.charity-info h3 {
  margin: 0 0 5px;
}
.progress-bar {
  height: 10px;
  background: #e7e7eb;
  margin: 10px 0;
  border-radius: 5px;
}
.progress-bar::after {
  content: '';
  display: block;
  height: 10px;
  width: 80%; 
  background: #007bff;
  border-radius: 5px;
}
.funding {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.amount-raised {
  color: #3d3d3d;
}
.amount-goal {
  color: #007bff;
}


/* Add responsive design */
@media (max-width: 900px) {
  .image-container img {
    content: url('images/vertical.png'); 
  }
  .buttons-container {
      flex-direction: column;
  }

  .btn {
      width: 90%;
      margin: 10px auto;
  }
}