body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}
.app-container {
  text-align: center;
  background-color: #fff;
}
.app-header h1 {
  font-size: 24px;
  color: #000;
}
.app-header p {
  font-size: 18px;
  color: #666;
}
.image-container img {
  width: 100%;
  display: block; /* Remove any extra space below the image */
}
.buttons-container {
  margin: 20px 0;
}
.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.get-started {
  background-color: #007bff;
  color: #fff;
}
.log-in {
  background-color: #343a40;
  color: #fff;
}
.login-container {
  max-width: 400px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-form {
  display: flex;
  flex-direction: column;
}
input[type=email], input[type=password] {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.btn {
  background-color: #007bff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
}
.checkbox-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.checkbox-container input {
  margin-right: 10px;
}
.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

/* Add responsive design */
@media (max-width: 600px) {
  .buttons-container {
      flex-direction: column;
  }

  .btn {
      width: 90%;
      margin: 10px auto; /* Center buttons on mobile */
  }
}